<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799622894473-bc2ncb803u18gabhtcbqm8iuha8lca13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799622894473-bc2ncb803u18gabhtcbqm8iuha8lca13</string>
	<key>API_KEY</key>
	<string>AIzaSyDUQKjKWuB901wRo4uOVhP-Rv_7-wOc63M</string>
	<key>GCM_SENDER_ID</key>
	<string>799622894473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderj.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-c621f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-c621f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799622894473:ios:dcfbaa22b5f1a0b60ec758</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-c621f.firebaseio.com</string>
</dict>
</plist>